body{
  margin: 0;
  padding: 0;
  background-color: #D6DBDF;
}
*{
  font-family: 'Signika', sans-serif
}

.contenedorMenu{
  background-color:  #8E44AD;
  display: flex;

  padding: 40px;
  margin: 0;
}

.link{
  color: #fff;
  padding: 20px;
}

a:hover{
  color: #E8DAEF;
}

.contenedorImagenes{
  display: flex;
  justify-content: space-around;

}

span{
  position: relative;
  bottom: 171px;
  left: 21px;
  font-size: 30px;
  color: #fff;
}

 img{
   width: 250px;
   padding-top: 30px;

 }
.botones{
  display: flex;
  justify-content: center;
}

.btn{
  background-color: #A569BD;
  color: #fff;
  padding: 0 80px;
  margin: 10px 3px;
  font-size: 20px;
}
.contenidoParrafo{
  display: flex;
  justify-content: center;
}

.parrafo{
  color: #884EA0;
  flex-direction: column;
  padding: 20px;
  font-size: 30px;
  width: 40%;
}
